* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #FF5B6A transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto';
    /* margin: 0px auto; */
    height: 300vh;
    overflow-x: hidden;
    background-color: #fffcfe;

}

/* ------------------ Header -------------------- */

#main {

}

.header_container {
    height: 100px;
    width: 100%;
    align-content: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
}

.header {
    display: flex;
    align-items: center;
    width: 1110px;
    margin: 0 auto;
}

.header_logo {
    margin-right: 47px;
}

.header_logo img {
    width: 67px;
}




.header_checkout {
    display: flex;
    justify-content: space-between;
    width: 580px;
    position: relative;
    margin-left: -15px;
}

.header_checkout::before {
    content: '';
    display: block;
    position: absolute;
    width: 495px;
    background-color: #c4c4c4;
    height: 1px;
    top: 18px;
    left: 35px;
}

.left_checkout {
    text-align: center;
    position: relative;
    /* text-align: left; */
}

.left_checkout span {
    font-size: 16px;
    color: #FF5B6A;
    text-align: center;
}

.left_checkout span:first-child, .right_checkout span:first-child {
    margin: 0px 16px 10px;
    border-radius: 999px;
    display: block;
    border: 1px solid #FF5B6A;
    width: 35px;
    height: 35px;
    background-color: #fff;
}

.left_checkout span:first-child::before {
    content: '';
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 999px;
    background-color: #FF5B6A;
    top: 7px;
    left: 23px;
}

.right_checkout {

}

.left_checkout span:last-child, .right_checkout span:last-child {
    line-height: 1.4;
}

/* -------------------- Content ------------------- */

.content {
   
}

.content_container {
    padding: 35px 15px 60px;
    width: 1140px;
    margin: 0px auto;
    line-height: 1.2;
    margin-bottom: 25px;
    margin-top: 100px;
    display: flex;
}

.left_content span:last-child {
    font-size: 16px;
    color: #142f43;
}

.left_content {
    padding-right: 24px;
    width: 69%;
}

.left_header {
    display: flex;
    margin-bottom: 25px;
}

.left_header span:first-child{
    font-size: 18px;
    font-weight: 700;
    color: #142f43;
    margin-right: 10px;
}

.left_header a {
    /* display: bloc; */
    margin-left: auto;
    text-decoration: none;
    color: #FF5B6A;
    font-weight: 500;
}

.right_content {

}

.left_note-oder {
    border-radius: 15px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
    margin-bottom: 30px;
}

.note_oder-title {
    color: #142f43;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 7px;
    display: block;
    font-weight: 700;
}

#note_oder-input {
    padding: 7px 0px;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid #FF5B6A;
    width: 100%;
    outline: none;
    font-size: 16px;
}

#note_oder-input::placeholder {
    color: rgb(99, 96, 96);
}

.left_contract {
    border-radius: 15px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
    margin-bottom: 30px;
}

.contract-title {
    color: #142f43;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 12px;
    display: block;
    font-weight: 500;
    line-height: 1.2;
}

.left_contract label {
    color: #142f43;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
    position: relative;

}

.left_contract a {
    color: #FF5B6A;
    text-decoration: none;
    font-size: 14px;
}

#contract-accept {
    background-color: #FF5B6A;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    transform: translateY(3px);
}

.left_contract label::after {
    content: '';
    display: none;
    position: absolute;
    width: 12px;
    height: 6px;
    /* background-color: #000; */
    border-left: 2px solid transparent;
    border-bottom:  2px solid transparent;
    transform: rotate(-45deg);
    top: 2px;
    left: -20px;
    cursor: pointer;
}

.left_contract label.active::after {
    border-left: 2px solid #fff;
    border-bottom:  2px solid #fff;
    display: block;
}

.left_contract p {
    color: #FF5B6A;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
    line-height: 1.5;
    padding-top: 5px;
    display: none;
}


/* ------------------ Deliver ----------------------- */

.right_content {
    width: 31%;
}

.right_deliver {
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
    border-radius: 15px;
    margin-bottom: 15px;
}

.deliver-to {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #6b6c6c;
}

.right_deliver-title {
    font-size: 14px;
    color: #6b6c6c;
    line-height: 1.4;
    margin-bottom: 8px;
    display: block;
}

.right_store {
    display: flex;

}

.right_store a {
    background-image: url("https://www.lotteria.vn/grs-static/images/icon-edit.svg");
    background-repeat: no-repeat;
    margin-left: auto;
}

.right_store span:first-child{
    font-size: 14px;
    color: #6b6c6c;
    line-height: 1.4;
}

.note-time {
    font-size: 14px;
    color: #6b6c6c;
    margin-right: -15px;
}



.right_option {
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
    border-radius: 15px;
}

.right_option  h4{
    font-size: 16px;
    font-weight: 700;
    color: #142f43;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.option-items {
    display: flex;
    justify-content: space-between;
}

.option-items span:first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.line {
    width: 315px;
    background-color: #FFEAE3;
    height: 1px;
    margin: 16px 0px;
}

.option-items div {
    color: #142f43;
    display: flex;
    align-items: center;
}

.btn_default-locate {
    width: 38px;
    height: 20px;
    background-color: #b4b4b4;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-right: 10px;
    transition: background-color 0.4s ease;
}

.btn_default-trans {
    width: 20px;
    height: 20px;
    border: 1px solid #b4b4b4;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    transition: transform 0.4s ease;
    transform: translateX(0px);
}

/* ------------------ Right Total--------------- */

.right_total {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
    border-radius: 15px;
    overflow: hidden;
}

.sub-total {
    padding-bottom: 15px;
    border-bottom: 1px dashed #FF5B6A;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #142f43;
}

.total {
    padding: 12px 0 10px;
    display: flex;
    justify-content: space-between;
    color: #142f43;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.total span:last-child span {
    padding-left: 5px;
    font-weight: 600;
}

.total-footer {
    background-color: #FF5B6A;
    width: 100%;
    height: 100%;
    margin: 0px -15px;
    width: 345px;
    text-align: center;
    margin-bottom: -15px;
    height: 60px;
    margin-top: 10px;
    opacity: 0.6;
}

.total-footer button {
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    border: none;
    outline: none;
    background-color: #FF5B6A;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/* -------------------- Footer ----------------- */

.footer {
    width: 1110px;
    margin: 0 auto;;
}

.footer_container {
    width: 1110px;
    margin: 0 -30px 0 -15px;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_footer {
    display: flex;
    color: #142f43;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.left_footer span:first-child {
    font-weight: 600;
}

.left_footer span:last-child {
    font-weight: 400;
    padding-left: 5px;
}

.right_footer {
    display: flex;
    transform: translateX(65px);
}

.right_footer div a{
    padding-right: 20px;
    margin-right: 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #142f43;
}

.right_footer div+div {
    position: relative;
}

.right_footer div+div a::before {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: #142f43;
    left: -20px;
    top: 3px;
}

.right_footer div a:hover {
    color: #FF5B6A;
}


/* ------------------- Icon Staff ----------------- */
.icon-staff {
    position: fixed;
    right: 25px;
    bottom: 25px;
    animation-name: icon-animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function:  linear;
    z-index: 99;
}

.icon-staff img {
    width: 100px;
    height: 145px;
}

@keyframes icon-animate {
    0% {
        transform: scale(1) rotate(0deg) ;
       
    }

    15% {
        transform: scale(1.2) rotate(-5deg);
      
    }

    30% {
        transform: scale(1) rotate(0deg) ;
    }

    40% {
        transform: scale(1.3) rotate(-10deg);
    }

    50% {
        transform: scale(1.3) rotate(10deg);
    }

    60% {
        transform: scale(1.3) rotate(-10deg);
    }

    75% {
        transform: scale(1.3) rotate(10deg);
    }

    85% {
        transform: scale(1.3) rotate(0deg);
    }

    /* 87% {
        transform: scale(1.27) rotate(0deg);
    } */

    /* 95% {
        transform: scale(1.15) rotate(0deg);
    } */
    100% {
        transform: scale(1) rotate(0deg);
    }
}